<%- include('./include/header')%>
    <title><%= title%></title>
</head>
<body>
    <h2><%= title%></h2>
  
    <a href="/login"><button type="button" class="btn btn-success">登录</button></a>

    <a href="/register"><button type="button" class="btn btn-danger">注册</button></a>

</body>
</html>